html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*:after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    line-height: 2;
}
table{
    border: 1px solid #ddd;
    width: 100%;
   
}
th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #3498db;
    color: white;
    text-align: center;
    top: 0;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin-left: 2rem;
}
.contenedor1{
    padding-bottom: 2rem;
}
.boton_agregar{
    background-color: #6BDB9C;
    border: none;
    border-radius: 6px;
    padding: 0.5rem;
    margin-left: 2rem;
    cursor: pointer;
    width: 20rem;
    height: 4rem;
}
.boton_editar{
    border: none;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 6px;
    background-color: #f0642c;
}
.boton_eliminar{
    border: none;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 6px;
    background-color: #f71919;
}
.contenedor{
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.contenedor_tabla{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.contenedor_botones{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
        
        