<!-- usuarios/lista.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" type="text/css" href="{% static 'usuarios/stylelista.css' %}">
</head>
<body>
    <h1>Usuarios</h1>
    <!-- Botón para agregar usuario -->
    <div class="contenedor1">
      <a href="{% url 'crear' %}" >
        <button class="boton_agregar">Agregar usuario</button>
      </a>
    </div>
    <div>
      <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.edad }}</td>
                <td>
                    <!-- Botón para editar -->
                    <a href="{% url 'editar' usuario.id %}">Editar</a>

                    <!-- Botón para eliminar -->
                    <form action="{% url 'eliminar' usuario.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay usuarios.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
